body {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}


.header{
    display: inline-block;
    flex: 1;
    background-color: #1F2937;
    color: aliceblue;
    padding: 10px 70px 50px 70px;

}

.upper{
    display: flex;
    flex: 1;
    justify-content: space-around;
    position: static;
}

#pluscargo{
    width: 100px;
    height: 55px;
    border-radius: 15px;
    margin-right: auto;
}

ul{
    display: flex;
    gap: 8px;
}

li, a{
    margin-left: auto;
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.lower{
    padding-top: 15px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.lowerRight{
    align-self: center;
}
.lowerLeft{
    text-align: center;
}
h1{
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.primerParrafo{
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}

#forwarder{
    width: 400px;
    height: auto;
    border-radius: 5px;
    flex-shrink: 1;
}

button{
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
    padding: 5px;
    width: 100px;
}

main{
    min-height: 100vmax;
}

footer{
    background-color: #1F2937;
    color: aliceblue;
    text-align: center;
}

.boton{
    font-size: 14px;
}